nav {
  background-color: darkred;
  padding: 1rem;
  height: 80px;
  display: flex;
  justify-content: center;

  ul {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    list-style: none;
    justify-content: center;
    align-items: center;

    li {
      width: 100px;
      a {
        color: #fff;
        text-decoration: none;
      }
    }
  }
}
